.bg__img{
  background-image: url("./Assets/img/cardimage/Mask Group.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;

}
.bg__img__2{
  background-image: url("./Assets/img/cardimage/Mask Group_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;

}
.bg__img__3{
  background-image: url("./Assets/img/cardimage/Mask Group_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;

}
.bg__img__4{
  background-image: url("./Assets/img/cardimage/Mask Group_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;

}
.income__bg{
  background-image: url("./Assets/img//cardimage/Vector 5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
